body {
  margin: 0;
  font: 13px/20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #404040;
  background: #0ca3d2;
}

.container {
    margin: 20px 0 0 0;
    width: 100%;
    height: 100%;
}

.container hr {
	margin: 30px 0 30px 0;
	height: 5px;
	background-color: #0a84a9;
	border-width: 0;
}

.container input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

.container input[type=text], .container input[type=date] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

input[type=text]:focus, input[type=date]:focus  {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.container input[type=submit] {
  margin: 0 2px 0 2px;
  padding: 0 28px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  text-transform: uppercase;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 8px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.driver, .owner, .operator {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: #fff;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.driver:before, .owner:before, .operator:before  {
  content: '';
  position: absolute;
  top: -8px;
  right: -15px;
  bottom: -8px;
  left: -15px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
	
.container h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 23px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 2px white;
  text-transform: capitalize;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

.container h3	{
	margin: 0 0 10px 0;
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	font-style: italic;
}

.container .info, .error {
  text-align: center;
  font-size: 30px;
  margin-top: 70px;
}

.container .info {
  color: #fff;
}

.container .error {
  color: #b30000;
}

.driver p, .operator p, .owner p {
  margin: 20px 0 0;
  font-size: 13px;
}

.driver p:first-child {
  margin-top: 0;
}

.driver p label {
	font-size: 13px;
	font-weight: bold;
	margin: 15px 0 0 0;
}

.driver input[type=text], .operator input[type=text], .owner input[type=text], .owner input[type=date] {
  float: right;
  width: 280px;
}

.driver input[type=radio] {
  float: center;
  margin: 10px 0px 0px 30px;
  width: 50px;
}

.header, .footer {
	background-color: #0a84a9;
	width: 100%;
}

.header {
	margin: 0 0 20px 0;
	height: 40px;
	border-bottom-color: #26c3f2; 
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.header h1 {
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
	font-size: 32px;
	font-family: Impact, Charcoal, sans-serif;
	font-weight: normal;
	color: #cff2fc;
	text-shadow: 2px 2px #000;
}

.footer {
	position:absolute;
	right: 0;
  bottom: 0;
  left: 0;
	text-align: center;
	border-top-color: #26c3f2; 
	border-top-style: solid;
	border-top-width: 1px;
}

.footer p {
	font-size: 13px;
	color: #fff;
}